body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d2b;
    color: #ffffff;
}

header {
    background-color: #1a1a40;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #00d4ff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #1a1a40;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.flex-container{
    display: flex;

}
.div01{
    width: 150px;
    height: 150px;
}
.div02{
    width: 150px;
    height: 150px;
}