.navbar{
  list-style-type: none;
  background-color: rgb(1, 1, 77);
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}
.navbar a{
  color:white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(0, 0, 0);
}
.navbar li{
  float: left;
}

.big-container {
  background-color: white;
  height: 100%;
  border: solid rgb(19, 18, 18) 6px;
}

#heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}

.container1 {
  margin-bottom: 40px;
}

.small-box1, .small-box2 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: rgb(1, 1, 77);
  padding: 20px;
  border-radius: 15px;

}

#text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
color: white;  
margin-bottom: 10px;
}

#image1 {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
