.navbar{
  list-style-type: none;
  background-color: rgb(1, 1, 77);
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}
.navbar a{
  color:white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(0, 0, 0);
}
.navbar li{
  float: left;
}

.big-container{
  background-color:white;
width:100%;
  height:100%;
  border:solid rgb(19, 18, 18) 6px;

}
#heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
  text-align: center;
}
.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
  gap: 20px;
}

.box {
  flex: 1 1 30%;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
  min-height: 300px;
}

.slideshow {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  border-radius:30px 60px;
  border: solid 5px black;
  position: relative;
}

.slides {
  display: flex;
  width: 300%; 
  height: 100%;
  animation: slide 1000s infinite;
}

.slides img {
  /*object-fit: cover;*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


@keyframes slide {
0%   { transform: translateX(0); }
25%  { transform: translateX(-100%); }
50%  { transform: translateX(-200%); }
75%  { transform: translateX(-300%); }
100% { transform: translateX(0); }
}

.text-box {
background-color: rgb(44, 42, 165);
  border-radius:30px 60px;
  border: solid 5px black;
  font-size: 1.05em;
  text-align: justify;
  color: aliceblue;
}












  
