.navbar{
  list-style-type: none;
  background-color: rgb(1, 1, 77);
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}
.navbar a{
  color:white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(0, 0, 0);
}
.navbar li{
  float: left;
}
.big-box{
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: url(https://media.tenor.com/sQDz_xy06NMAAAAM/magic-stars.gif);
  display:flex;
  height: 19cm; 

}
  .small-box1{
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 60px 30px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  border: solid 3px blue;
  background-color: black;
  width: 250px;
  height: 500px;
 } 
 .small-box2{
  font-weight:lighter;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 60px 30px;
  position:absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  background-color:black;
  border: solid 3px blue;
  width: 250px;
  height: 500px;
 }
  
 .small-box3{
  line-height: 1.4;
  font-weight:lighter;
  flex-direction: column;
   align-items: center;
  text-align: center;
  border-radius: 10px 60px 30px;
  position: absolute;
  bottom: 50px;
  left: 42%;
  display: flex;
  background-color: black;
  border: solid 3px blue;
  width: 250px;
  height: 500px;
 }
    
  .small-box4{
    border-radius: 30px 60px;
    position: absolute;
    bottom:70px;
    right: 350px;
    display: flex;
    background-color: black;
    border: solid 3px blue;
    width: 250px;
    height: 250px;

 }

 .small-box5{
  background-color: black;
  border-radius: 30px 60px;
  position: absolute;
  bottom: 70px;
  left: 350px;
  display: flex;
  border: solid 3px blue;
  width: 250px;
  height: 250px;
 }

 .button1{
  background-color: rgb(19, 19, 151);
  border-radius: 0px 70px;
  padding: 10px 20px;
 }
.button{
  font-size: 17px;
  background-color: rgb(46, 72, 149);
  color: white;
  padding: 10px 20px;
  border-radius: 10px 60px 30px;
}
#img1{
  border-radius:30px 60px;
  width: 250px;
}
#img2{
  border-radius:30px 60px 100px 60px;
 width: 250px;
}

