.divOne{
    background-color: coral;
    height: 100px;
}

#h2{
    border: 5px blue;
}

#left, #right{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#right img, #left img {
   width: 200px;
   height: 200px;
}

#both{
 display: flex;

 flex-direction: row;
 justify-content: space-evenly;
   align-items: center;

}