.flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    height: 420px;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
}
h1{
    text-align: center;
    color: red;
    background-color: black;
    margin: 0px;
    padding: 10px;
}
.flex-container > div{
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: black;
}
#div1{
    background-image:url(Red\ bull.jpg) ;
    align-self: flex-start;
    background-size: 200px 200px;
    border-radius: 50%;
}
#div2{
    background-image: url(F1\ m.jpg);
    align-self: flex-end;
    background-size: 200px 200px;
    border-radius: 50%;
}
#div3{
    background-image: url(mclaren.jpg);
    align-self: flex-start;
    background-size: 200px 200px;
    border-radius: 50%;
}
#div4{
    background-image:url(Alpine.jpg) ;
    align-self: flex-end;
    background-size: 200px 200px;
    border-radius: 50%;
}
#div5{
    background-image:url(Ferrari.jpg);
    align-self: flex-start;
    background-size: 200px 200px;
    border-radius: 50%;
}
#div6{
    background-image:url(Aston\ Martin.jpg) ;
    align-self:flex-end;
    background-size: 200px 200px;
    border-radius: 50%;
}
.Flex-container3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black ;
    border: solid 10px black;
    height: 500px;
}
#left-div1{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    margin: 10px;
    align-self: flex-start;
    background-image: url(max.jpg);
    background-size: 300px 300px;
}
#right-div2{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    margin: 10px;
    align-self: flex-start;
    background-image: url(Hamilton.jpg);
    background-size: 300px 300px;/*This is th width and height of the image inside right-div2*/
}
#img1{
    width: 300px;
    height: 300px;
}
#para1{
    font-size: 20px;
    color:white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}
#para2{
    font-size: 20px;
    color:black;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}
.flex-container4{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    border: 10px solid black;
    height: 500px;
}
#div10{
    width: 250px;
    height: 250px;
    border: 5px solid black;
}
#div20{
    width: 250px;
    height: 250px;
    border: 5px solid black;
}
#div30{
    width: 250px;
    height: 250px;
    border: 5px solid black;
}
#rick{
    width: 250px;
    height: 250px;
}
#wavy{
    width: 250px;
    height: 250px;
}
